
h1 {
    color: red;
    text-align: center;
}
h2 {
    color:crimson
    text-align: center;
}
p {
    text-align: center;
    padding: 1%;
}

.imagens {
    width: 1500px;
    height: 750px;
    padding: 15%;
}
    
